* {
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ol,
ul,
li {
  margin: 0px;
  padding: 0px;
}
input {
  border: none;
}
li {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.textCenter {
  text-align: center;
}
.clearfloat::after {
  display: block;
  clear: both;
  content: "";
  overflow: hidden;
  height: 0;
}
.clearfloat {
  zoom: 1;
}
html {
  font-size: 5.33333vw;
}
.box {
  overflow: hidden;
}
.header {
  width: 100%;
  height: 3rem;
  background: #6e96ba;
  overflow: hidden;
}
.header p {
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
  vertical-align: middle;
}
.header p:first-child {
  margin-top: 0.5rem;
}
.main {
  width: 100%;
  margin: 0.5rem 0 0.5rem 1rem;
  font-size: 0.65rem;
  overflow: hidden;
}
.main .datatxt {
  width: 100%;
  height: 2.8rem;
  line-height: 1.4rem;
  box-sizing: content-box;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.6rem;
}
.main .datatxt .redstar,
.main .datatxt .redtxt {
  color: red;
}
.main .datatxt input::placeholder {
  color: #ccc;
  font-size: 0.65rem;
}
.main .datatxt input {
  width: 90%;
  outline: none;
  font-size: 0.65rem;
  display: block;
  margin-top: 0.4rem;
}
<<<<<<< HEAD
.main .tab1,
.main .tab2 {
  height: 7rem;
}
.main .tab1 #example1,
.main .tab2 #example1,
.main .tab1 #example2,
.main .tab2 #example2 {
  margin: 0.2rem 2.8rem;
=======
.main .datatxt .dsex {
  width: 90%;
  height: 1.2rem;
  margin: auto;
  border-bottom: none;
  margin-top: 0.18rem;
  margin-left: 0.2rem;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .datatxt .dsex select {
  border: none;
  outline: none;
  font-size: 0.65rem;
}
.main .datatxt #date1,
.main .datatxt #date2,
.main .datatxt #date3 {
  height: 1.2rem;
  border: 1px solid #ccc;
  border-bottom: none;
  margin-top: 0.18rem;
  margin-left: 0.2rem;
}
.main .datatxt #date1::placeholder,
.main .datatxt #date2::placeholder,
.main .datatxt #date3::placeholder {
  padding-left: 7rem;
  color: #000;
}
.main .datatxt .tabbor {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.main .datatxt .tabbor table {
  width: 90%;
  text-align: center;
  border-spacing: 0;
  border-radius: inherit;
  border: solid 1px #000;
}
.main .datatxt .tabbor table tr {
  height: 1.3rem;
}
.main .datatxt .tabbor table tr:last-child td {
  border-bottom: none;
}
.main .datatxt .tabbor table tr td {
  border: 1px solid #000;
  height: 30px;
  text-align: center;
  border-top: none;
}
.main .datatxt .tabbor table tr td:last-child {
  border-right: none;
}
.main .datatxt .tabbor table tr td input {
  margin: 0;
}
.main .tab1,
.main .tab2 {
  height: 7.5rem;
>>>>>>> e88f2f9 (完毕)
}
.main .lastdiv {
  height: 5.2rem;
  margin-bottom: 0.5rem;
}
.main .lastdiv textarea {
  width: 90%;
<<<<<<< HEAD
  outline: none;
  border: none;
=======
  font-family: '';
  font-size: 0.65rem;
  outline: none;
  border: none;
  resize: none;
>>>>>>> e88f2f9 (完毕)
}
.main .lastdiv textarea::placeholder {
  color: #ccc;
  font-size: 0.65rem;
}
.main .submit button {
  width: 90%;
  height: 1.5rem;
  outline: none;
  border: none;
  color: #fff;
  background-color: #6e96ba;
}
.hid {
  display: none;
}
/*# sourceMappingURL=./index.css.map */