// 清除默认样式
* {
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ol,
ul,
li {
    margin: 0px;
    padding: 0px;
}

input {
    border: none;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.textCenter {
    text-align: center;
}

.clearfloat::after {
    display: block;
    clear: both;
    content: "";
    overflow: hidden;
    height: 0;
}

.clearfloat {
    zoom: 1;
}

//   设置baseFontSize
html {
    font-size: 5.33333vw;
}

.box {
    overflow: hidden;
}

//   头部样式
.header {
    width: 100%;
    height: 3rem;
    background: rgb(110, 150, 186);
    overflow: hidden;

    p {
        text-align: center;
        color: #fff;
        font-size: 0.8rem;
        vertical-align: middle;

        &:first-child {
            margin-top: 0.5rem;
        }
    }
}

@basesize: .65rem;

.main {
    width: 100%;
    margin: 0.5rem 0 0.5rem 1rem;
    font-size: @basesize;
    overflow: hidden;

    .datatxt {
        width: 100%;
        height: 2.8rem;
        line-height: 1.4rem;
        box-sizing: content-box;
        border-bottom: 1px solid #ccc;
        margin-bottom: .6rem;

        .redstar,
        .redtxt {
            color: red;
        }

        input::placeholder {
            color: #ccc;
            font-size: @basesize;
        }

        input {
            width: 90%;
            outline: none;
            font-size: @basesize;
            display: block;
            margin-top: .4rem;
        }

<<<<<<< HEAD
        // #date {
        //     width: 80%;
        //     // padding-left: 20px;
        //     margin: 0 20px;
        //     height: 1.2rem;
        // }

=======
        .dsex {
            width: 90%;
            height: 1.2rem;
            margin: auto;
            border-bottom: none;
            margin-top: .18rem;
            margin-left: .2rem;
            border: 1px solid #ccc;
            display: flex;
            justify-content: center;
            align-items: center;

            select {
                border: none;
                outline: none;
                font-size: @basesize;
            }
        }

        #date1,
        #date2,
        #date3 {
            height: 1.2rem;
            border: 1px solid #ccc;
            border-bottom: none;
            margin-top: .18rem;
            margin-left: .2rem;
        }

        #date1::placeholder,
        #date2::placeholder,
        #date3::placeholder {
            padding-left: 7rem;
            color: #000;
        }

        .tabbor {
            width: 100%;
            border-radius: 10px;
            overflow: hidden;

            table {
                width: 90%;
                text-align: center;
                border-spacing: 0;
                border-radius: inherit;
                border: solid 1px #000;

                tr {
                    height: 1.3rem;

                    &:last-child {
                        td {
                            border-bottom: none;
                        }
                    }

                    td {
                        border: 1px solid #000;
                        height: 30px;
                        text-align: center;
                        border-top: none;

                        &:last-child {
                            border-right: none;
                        }

                        input {
                            margin: 0;
                        }
                    }
                }


            }

        }
>>>>>>> e88f2f9 (完毕)
    }

    .tab1,
    .tab2 {
<<<<<<< HEAD
        height: 7rem;

        #example1,
        #example2 {
            margin: .2rem 2.8rem;
        }
=======
        height: 7.5rem;

>>>>>>> e88f2f9 (完毕)
    }


    .lastdiv {
        height: 5.2rem;
        margin-bottom: 0.5rem;

        textarea {
            width: 90%;
<<<<<<< HEAD
            outline: none;
            border: none;
        }

        textarea::placeholder {
            color: #ccc;
            font-size: @basesize;
        }

=======
            font-family: '';
            font-size: @basesize;
            outline: none;
            border: none;
            resize: none;

            &::placeholder {
                color: #ccc;
                font-size: @basesize;
            }
        }


>>>>>>> e88f2f9 (完毕)
    }

    .submit {
        button {
            width: 90%;
            height: 1.5rem;
            outline: none;
            border: none;
            color: #fff;
            background-color: rgb(110, 150, 186);
        }

    }
}

.hid {
    display: none;
}